*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

html, body{
    background-color: #f6f6f6;
    scroll-behavior: smooth;
}

.faIcon{
    color: white;
}

.contenedor{
    color: white;
    width: 100%;
    height: 100%;
    display: table;
}

.header h1{
    font-weight: normal;
    text-align-last: center;
    font-size: 64px;
    margin-top: 83px;
}

.header h1 a{
    text-decoration: none;
    color: white;
}

.header{
    display: table;
    width: 100%;
    height: 250px;
    background-color: black;
    background-image: url(../img/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.nav{
    display: table;
    width: 100%;
}

.nav-list{
    list-style: none;
    text-align: center;
    margin-top: -58px;
}

.nav-item{
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    color: white;
}

.link-item{
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color: white;
}

.nav-item > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
}
  
.nav-item > a:hover::after, li > a.active-nav::after {
    width: 80%;
    height: 10%;
    background: white;
}

.section-1{
    margin-left: 6%;
    margin-right: 6%;
}


#description-1 p{
    padding: 13px;
    text-align: justify;
    margin-left: 51px;
    margin-top: 160px;
    font-size: 19px;
    width: 68%;
}


#description-1 h1{ 
    font-size: 61px;
    text-align: center;
    color:black;
}

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
}
  
.row {margin: 0 -5px;}.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.card {
    padding: 16px;
    text-align: center;
}

.img-p:hover{
    opacity: 70%;
    cursor: pointer;
}

.card h1{
    font-size: 24px;
    margin-top: 10px;
}

.btn-card{
    background-color: #198754;
    text-align: center;
    color: white;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border: none;
}

.btn-card:hover{
    opacity: 70%;
}


.img-p{
    width: 94%;
    border-radius: 11px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

#description-1 hr{ 
    width: 87%;
    background: white;
    margin-top: 13px;
}


.inner-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    width: 17%;
}

.section-contact{
    display: flex;
    margin-left: 10%;
    margin-top: 23px;
    margin-right: 6%;
    margin-bottom: 29px;
}

#suscripcion{
    width: 53%;
    background: #d0d0d0;
    padding: 50px;
    border-radius: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.titulo h1{
    color: white;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.form, .form-items{
    width: 100%;
}

.form_items .input{
    width: 100%;
    margin-bottom: 18px;
    padding: 15px 40px;
    box-sizing: border-box;
    border: 0px;
    outline: none;
    color: black;
    border-radius: 30px;
}

.form_items .input.message{
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    resize: none;
}

.btn{
    background-color: #198754;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover{
    opacity: 70%;
    color: gray;
}


.form_items{
    position: relative;
}

.form_items .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9a99aa;
}

#mapa{
    width: 55%;
    margin-left: 6%;
    margin-top: 16px;
    border-radius: 17px;
}


.footer{
    width: 100%;
    height: 71px;
    text-align: center;
    padding-top: 2%;
    margin-right: 1px;
    border-radius: 10px;
    background-color: #94d0ee;
}

.arriba{
    width: 82px;
    height: 80px;
    background-color: black;
    text-align: center;
    line-height: 82px;
    border-radius: 100%;
    bottom: 77px;
    right: 7px;
    position: fixed;
    z-index: 10;
}

.carrito{
    width: 82px;
    height: 80px;
    background-color: black;
    text-align: center;
    line-height: 82px;
    border-radius: 100%;
    bottom: 161px;
    right: 7px;
    position: fixed;
    z-index: 10;
}

.up {
    text-decoration: none;
    color: white;
    font-size: 31px;
}

.back {
    text-decoration: none;
    color: white;
    font-size: 31px;
}


.fa-youtube:before {
    content: "\f167";
    color: white;
}

.fa-instagram:before {
    content: "\f167";
    color: white;
}

.fa-twitter:before {
    content: "\f167";
    color: white;
}

.fa-arrow-up:before {
    content: "\f062";
    color: white;
}

.fa-arrow-left:before {
    content: "\f060";
    color: white;
}

.instagram{
    width: 82px;
    height: 80px;
    background-color: black;
    text-align: center;
    line-height: 86px;
    border-radius: 100%;
    bottom: 247px;
    left: 12px;
    position: fixed;
    z-index: 10;
}

.twitter{
    width: 82px;
    height: 80px;
    background-color: black;
    text-align: center;
    line-height: 86px;
    border-radius: 100%;
    bottom: 162px;
    left: 12px;
    position: fixed;
    z-index: 10;
}

.youtube{
    width: 82px;
    height: 80px;
    background-color: black;
    text-align: center;
    line-height: 86px;
    border-radius: 100%;
    bottom: 77px;
    left: 12px;
    position: fixed;
    z-index: 10;
}

